*{
    margin: 0;
}
.container{
    background-color: darkgray;
   
}
/* Navigation bar*/
.nav{
    background-color: azure;
}
.nav-tabs{
    font-size: 20px;
}
.nav-tabs li a{
    color: olivedrab;
    position: fixed;
}
/*Carousal*/
.img-3{
    height: 150px;
    width: 150px;
    padding: 12px;
    margin: 3px;
}
.slide{
    padding: 25px;
    height: 400px;
    margin: 50px;
    width: 600px;
    text-align: center;
}
.img-2{
    height: 600px;
    width: 600px;
}
 